body {
    background: black;
}

.title {
    color: white;
    text-align: center;
}

.image_title {
    color: white;
    text-align: left;
}

.images_container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image {
    width: 100%;
    margin-bottom: 10%;
}