body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#svg {
    position: absolute;
    opacity: 40%;
    width: 100%;
    height: 100%;
    fill: red;
    stroke: red;
    z-index: 1;
}

#game-info {
    display: flex;
    align-items: flex-end;
    width: 85vmin;
    margin-top: 2.5vmin;
}

#title {
    font-size: 8.5vmin;
    font-weight: 250;
}

#game-number-container {
    display: flex;
    align-items: center;
    z-index: 4;
}

#game-number {
    margin-left: 1.5vmin;
    font-size: 3vmin;
    font-weight: 475;
}

#game-number-input {
    display: none;
    margin-left: 3vmin;
    border: solid 0.5vmin white;
    background-color: black;
    color: white;
    width: 16vmin;
    height: 6vmin;
    border-radius: 2vmin;
    font-size: 4vmin;
    font-weight: 500;
}

#game-number-input-btn {
    display: none;
    margin-left: 2.5vmin;
    height: 7vmin;
}

#invalid-message {
    display: none;
    align-self: flex-end;
    color: red;
    margin-left: 2vmin;
    font-size: 3.25vmin;
}

#score {
    flex: 1;
    font-size: 7.5vmin;
    font-weight: 600;
    text-align: center;
    color: yellow;
}

#word-current {
    padding-left: 2vmin;
    padding-right: 2vmin;
    border-radius: 2vmin;
    margin-top: 2vmin;
    font-size: 6vmin;
    font-weight: 400;
    text-align: center;
}

#grid {
    touch-action: none;
    margin-top: 2vmin;
    width: 85vmin;
    height: 85vmin;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding-left: 7.5vmin;
    padding-right: 7.5vmin;
    padding-bottom: 7.5vmin;
}

.cell {
    position: relative;
    margin: 0.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-letter {
    position: absolute;
    box-sizing: border-box;
    border: 0.65vmin solid white;
    border-radius: 25%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-letter-text {
    font-size: 13.5vmin;
    font-weight: 250;
}

.cell-touch {
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 90%;
    border-radius: 45%;
}


/* create scrolling rows of words organized by size in alphabetical order */

#words-found {
    display: flex;
    flex-direction: column;
    width: 80vmin;
}

.word-found {
    font-weight: 300;
    font-size: 6vmin;
}