@media only screen and (orientation: portrait) {
    :root {
        --base-unit: 1vw;
    }
}

@media only screen and (orientation: landscape) {
    :root {
        --base-unit: 0.4vw;
    }
}

:root {
    --app-width: calc(84 * var(--base-unit));
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: "Cousine", monospace;
    display: flex;
    justify-content: center;
    height: var(--app-height);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body>* {
    width: var(--app-width);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

button,
input {
    font-family: "Cousine", monospace;
    color: white;
    padding: 0;
}

.backButton {
    background-color: #222;
    border: 1px solid white;
    padding: var(--base-unit) calc(4 * var(--base-unit));
    border-radius: calc(2 * var(--base-unit));
    font-size: calc(4 * var(--base-unit));
    display: flex;
    align-items: center;
    z-index: 1;
}