@media only screen and (orientation: portrait) {
    :root {
        --base-unit: 1vw;
    }
}

@media only screen and (orientation: landscape) {
    :root {
        --base-unit: 0.4vw;
    }
}

:root {
    --app-width: calc(84 * var(--base-unit));
}

body {
    background: linear-gradient(to bottom, #0d212f 0, black calc(22 * var(--base-unit)));
    margin: 0;
    display: flex;
    justify-content: center;
    height: var(--app-height);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
button,
input {
    font-family: 'Cousine', monospace;
    color: #fff;
    font-size: calc(4 * var(--base-unit));
}

button,
input {
    background-color: transparent;
    border: 0;
}

.screen {
    width: var(--app-width);
    display: flex;
    flex-direction: column;
    gap: calc(4 * var(--base-unit));
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(20 * var(--base-unit));
    font-size: calc(6 * var(--base-unit));
    z-index: 1;
}