<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap">

    <link rel="stylesheet" type="text/css" href="./static/css/styles.css">

    <link rel="icon" type="image/svg+xml" href="./static/assets/icons/favicon.svg">
    <link rel="icon" type="image/x-icon" href="./static/assets/icons/favicon.ico">

    <link rel="apple-touch-icon" type="image/svg+xml" href="./static/assets/logos/logo.svg" />
    <link rel="apple-touch-icon" type="image/png" href="./static/assets/logos/logo.png" />

    <script type="module" src="./static/js/main.js"></script>

    <title>Word Maze</title>
</head>

<body>
    <!--................HOME................-->

    <main id="home-screen" class="screen">
        <header>
            <details>
                <summary id="game-name">Word Maze</summary>
                <span>hi grandma!</span>
            </details>
            <form id="username-form">
                <div class="input-wrapper">
                    <input type="text" id="username" name="username" placeholder="create username" autocomplete="off">
                    <span class="input-border"></span>
                    <div class="input-error">
                        <i class="icon-error"></i>
                        <span>username unavailable</span>
                    </div>
                </div>
            </form>
        </header>
        <button class="mode-select-btn" data-mode="Timed">
            <i class="icon-clock"></i>
            <span>Timed</span>
        </button>
        <button class="mode-select-btn" data-mode="Free Play">
            <i class="icon-circle"></i>
            <span>Free Play</span>
        </button>
        <button class="mode-select-btn" data-mode="VS Friend">
            <i class="icon-friends"></i>
            <span>VS Friend</span>
        </button>
        <button class="mode-select-btn" data-mode="VS Random">
            <i class="icon-random"></i>
            <span>VS Random</span>
        </button>
    </main>

    <!--................FRIEND................-->

    <section id="friend-screen" class="screen">
        <header>
            <button class="home-btn">
                <i class="icon-home"></i>
            </button>
        </header>
        <form id="search-form">
            <div class="input-wrapper from-side">
                <input type="text" name="username" placeholder="add a friend..." autocomplete="off" />
                <span class="input-border"></span>
            </div>
        </form>


    </section>


    <!--................GAME................-->

    <section id="game-screen" class="screen">
        <svg id="letter-path"></svg>
        <header>
            <div id="nav-controls">
                <button class="home-btn">
                    <i class="icon-home"></i>
                </button>
                <button id="results-btn">
                    <i class="icon-results"></i>
                </button>
            </div>
            <time id="countdown-timer"></time>
            <span id="word-counter"></span>
        </header>
        <span id="current-score"></span>
        <span id="selected-letters">&nbsp;</span>
        <div id="game-board">
            <div class="cell" style="grid-area: 1 / 1;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 1 / 2;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 1 / 3;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 1 / 4;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 2 / 1;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 2 / 2;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 2 / 3;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 2 / 4;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 3 / 1;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 3 / 2;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 3 / 3;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 3 / 4;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 4 / 1;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 4 / 2;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 4 / 3;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 4 / 4;">
                <span class="letter"></span>
                <div class="touch-target"></div>
            </div>
        </div>
    </section>


    <!--................RESULTS................-->

    <section id="results-screen" class="screen">
        <header>
            <button class="home-btn">
                <i class="icon-home"></i>
            </button>
        </header>
        <div id="game-recap">
            <span>Score:</span>
            <span id="final-score"></span>
            <span>Longest Word:</span>
            <span id="longest-word"></span>
        </div>
        <div id="word-length-chart">
            <span>Word Length Distribution:</span>
            <div class="chart-bar">
                <span>&nbsp;3</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>&nbsp;4</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>&nbsp;5</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>&nbsp;6</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>&nbsp;7</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>&nbsp;8</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>&nbsp;9</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>10</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>11</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>12</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>13</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>14</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
            <div class="chart-bar">
                <span>15</span>
                <div class="bar-fill"></div>
                <span class="bar-count"></span>
            </div>
        </div>
    </section>

</body>

</html>