<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap">

    <link rel="stylesheet" type="text/css" href="./static/css/styles.css">

    <link rel="icon" type="image/svg+xml" href="./static/assets/icons/favicon.svg">
    <link rel="icon" type="image/x-icon" href="./static/assets/icons/favicon.ico">

    <link rel="apple-touch-icon" type="image/svg+xml" href="./static/assets/logos/logo.svg" />
    <link rel="apple-touch-icon" type="image/png" href="./static/assets/logos/logo.png" />

    <script type="module" src="./static/js/main.js"></script>

    <title>Word Maze</title>
</head>

<body>
    <!--................HOME................-->

    <div id="home-screen" class="screen">
        <header>
            <h2>Word Maze</h2>
            <form id="username-form">
                <input type="text" id="username" name="username" placeholder="create username" autocomplete="off">
            </form>
        </header>
        <button class="mode-select-btn" data-mode="Timed">
            <i class="icon-clock"></i>
            <span>Timed</span>
        </button>
        <button class="mode-select-btn" data-mode="Free Play">
            <i class="icon-circle"></i>
            <span>Free Play</span>
        </button>
        <button class="mode-select-btn" data-mode="VS Friend">
            <i class="icon-friends"></i>
            <span>VS Friend</span>
        </button>
        <button class="mode-select-btn" data-mode="VS Random">
            <i class="icon-random"></i>
            <span>VS Random</span>
        </button>
    </div>


    <!--................GAME................-->

    <div id="game-screen" class="screen">
        <svg id="letter-path"></svg>
        <header>
            <div id="nav-controls">
                <button class="home-btn">
                    <i class="icon-home"></i>
                </button>
                <button id="results-btn">
                    <i class="icon-results"></i>
                </button>
            </div>
            <div id="countdown-timer"></div>
            <div id="word-counter"></div>
        </header>
        <div id="current-score"></div>
        <div id="selected-letters"><br></div>
        <div id="game-board">
            <div class="cell" style="grid-area: 1 / 1;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 1 / 2;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 1 / 3;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 1 / 4;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 2 / 1;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 2 / 2;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 2 / 3;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 2 / 4;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 3 / 1;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 3 / 2;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 3 / 3;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 3 / 4;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 4 / 1;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 4 / 2;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 4 / 3;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
            <div class="cell" style="grid-area: 4 / 4;">
                <div class="letter"></div>
                <div class="touch-target"></div>
            </div>
        </div>
    </div>


    <!--................RESULTS................-->

    <div id="results-screen" class="screen">
        <header>
            <button class="home-btn">
                <i class="icon-home"></i>
            </button>
        </header>
        <div id="game-recap">
            <div>Score:</div>
            <div id="final-score"></div>
            <div>Longest Word:</div>
            <div id="longest-word"></div>
        </div>
        <div id="word-length-chart">
            <div>Word Length Distribution:</div>
            <div class="chart-bar">
                <div>&nbsp;3</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>&nbsp;4</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>&nbsp;5</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>&nbsp;6</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>&nbsp;7</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>&nbsp;8</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>&nbsp;9</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>10</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>11</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>12</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>13</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>14</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
            <div class="chart-bar">
                <div>15</div>
                <div class="bar-fill"></div>
                <div class="bar-count"></div>
            </div>
        </div>
    </div>
</body>

</html>